<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить курс [[${course.courseName}]]</title>
</head>
<body>
<h1>
    Изменить курс [[${course.courseName}]]
</h1>
<a data-th-href="@{/courses/{courseId}(courseId=${course.id})}"> К курсу</a>
<form method="post" data-th-action="@{/courses/{courseId}/edit(courseId=${course.id})}">
    <label>
        Название курса:<br>
        <input type="text" name="courseName" th:value="${course?.courseName}">
    </label><br>
    <label>
        Кто создает курс:<br>
        Почта:<br>
        <input type="email" name="authorEmail" th:value="${course?.hr.email}">
    </label><br>
    <label>
        Список лекций:<br>
        <tr th:each="lecture : ${lectures}">
            <td>
                <a th:href="@{/lectures/{lectureId}(lectureId=${lecture.id})}">[[${lecture.title}]]</a>
            </td>
            <td><input type="checkbox" name="lectureId" th:value="${lecture.id}"></td>
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>
