<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить тест [[${question.title}]]</title>
</head>
<body>
<h1>
    Изменить тест [[${question.title}]]
</h1>
<a data-th-href="@{/questions/}"> Ко всем тестам</a>
<form method="post" data-th-action="@{/questions/{questionId}/edit(questionId=${question.id})}">
    <label>
        Название курса:<br>
        <input type="text" name="title" th:value="${question?.title}">
    </label><br>
    <label>
        Описание:<br>
        <input type="text" name="description" th:value="${question?.description}">
    </label><br>
    <label>
        Ответ:<br>
        <input type="text" name="urlContent" th:value="${question?.answer}">
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>
