<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить вопрос [[${test.title}]]</title>
</head>
<body>
<h1>
    Изменить тест [[${test.title}]]
</h1>
<a data-th-href="@{/questions/}"> Ко всем вопросам</a>
<form method="post" data-th-action="@{/tests/{testId}/edit(testId=${test.id})}">
    <label>Название теста:<br>
        <input type="text" name="title">
    </label><br>
    <label>Список вопросов:<br>
        <th:block th:each="question : ${questions}">
            <tr>
                <td>
                    <a th:href="@{/questions/{questionId}(questionId=${question.id})}">[[${question.title}]]</a>
                </td>
                <td>
                    <input type="checkbox" name="selectedQuestionIds" th:value="${question.id}">
                </td>
            </tr>
        </th:block>
    </label><br><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>
