<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый тест</title>
</head>
<body>
<h1>
    Создать новый тест
</h1>
<a data-th-href="@{/tests/}">&lAarr; К списку тестов</a>
<form method="post" action="/tests/create">
    <label>
        Название теста:<br>
        <input type="text" name="title">
    </label><br>
    <label>
        Список вопросов:<br>
        <tr th:each="test : ${tests}">
            <td>
                <a th:href="@{/tests/{testId}(testId=${test.id})}">[[${test.title}]]</a>
            </td>
            <td><input type="checkbox" name="testId" th:value="${test.id}"></td>
    </label><br><br>
    <button type="submit">Создать новый тест</button>
</form>
</body>
</html>
