<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый тест</title>
    <!-- Подключаем стили Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Создать новый тест</h1>
<a data-th-href="@{/tests}">&lAarr; К списку тестов</a>
<form method="post" action="/tests/create">
    <div class="mb-3">
        <label for="title" class="form-label">Название теста:</label>
        <input type="text" id="title" name="title" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Список вопросов:</label>
        <div class="form-check">
            <th:block th:each="question : ${questions}">
                <input type="checkbox" id="question-${question.id}" name="selectedQuestionIds" th:value="${question.id}" class="form-check-input">
                <label for="question-${question.id}" class="form-check-label">[[${question.title}]]</label><br>
            </th:block>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Создать новый тест</button>
</form>
</body>
</html>
