<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${test.title}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>
    [[${test.title}]]
</h1>
<a data-th-href="@{/tests}">&lAarr; К тестам </a><br>
<a data-th-href="@{/tests/{testId}/edit(testId=${test.id})}">&lAarr; Изменить </a>
<h1 data-th-href="${test.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span th:text="${test.id}"></span></li>
    <li><strong>Список вопросов</strong>:
        <ul class="list-group">
            <th:block th:each="question : ${questions}">
                <li class="list-group-item">
                    <a th:href="@{/questions/{questionId}(questionId=${question.id})}">[[${question.title}]]</a>
                </li>
            </th:block>
        </ul>
    </li>
</ul>
</body>
</html>
