<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${test.title}]]</title>
</head>
<body>
<h1>
    [[${test.title}]]
</h1>
<a data-th-href="@{/tests}">&lAarr; К тестам </a><br>
<a data-th-href="@{/tests/{testId}/edit(testId=${test.id})}">&lAarr; Изменить </a>
<h1 data-th-href="${test.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span th:text="${test.id}"></span></li>
    <li><strong>Список вопросов</strong>:
        <th:block th:each="question : ${questions}">
            <tr>
                <td>
                    <a th:href="@{/questions/{questionId}(questionId=${question.id})}">[[${question.title}]]</a>
            </tr>
        </th:block>
        </li>
</ul>
</body>
</html>