<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<h1>
    Создать нового пользователя
</h1>
<a data-th-href="@{/hr/users}">&lAarr; К списку пользователей</a>
<form method="post" action="/hr/create">
    <label>
        Имя пользователя:<br>
        <input type="text" name="name">
    </label><br>
    <label>
        Почта пользователя:<br>
        <input type="email" name="email">
    </label><br>
    <label>
        Пароль для пользователя:<br>
        <input type="password" name="password">
    </label>
    <fieldset>
        <legend>Укажите роль пользователя, которого вы хотите создать</legend>
        <div>
            <input type="radio" id="HR" name="role" value="HR"/>
            <label for="HR">HR</label>
        </div>
        <div>
            <input type="radio" id="ADMINISTRATOR" name="role" value="ADMINISTRATOR"/>
            <label for="ADMINISTRATOR">ADMINISTRATOR</label>
        </div>
        <div>
            <input type="radio" id="MANAGER" name="role" value="MANAGER"/>
            <label for="MANAGER">MANAGER</label>
        </div>
        <div>
            <input type="radio" id="BARISTA" name="role" value="BARISTA"/>
            <label for="BARISTA">BARISTA</label>
        </div>
        <div>
            <input type="radio" id="TRAINEE" name="role" value="TRAINEE"/>
            <label for="TRAINEE">TRAINEE</label>
        </div>
    </fieldset>
    <button type="submit">Создать пользователя</button>
</form>
</body>
</html>
