<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый вопрос</title>
    <!-- Подключаем стили Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>
    Создать новый вопрос
</h1>
<a data-th-href="@{/questions/}">&lAarr; К списку вопросов</a>
<form method="post" action="/questions/create">
    <div class="mb-3">
        <label for="title" class="form-label">Название вопроса:</label>
        <input type="text" id="title" name="title" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Описание вопроса:</label>
        <input type="text" id="description" name="description" class="form-control">
    </div>
    <div class="mb-3">
        <label for="rightAnswer" class="form-label">Правильный ответ:</label>
        <input type="text" id="rightAnswer" name="rightAnswer" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Создать новый вопрос</button>
</form>
</body>
</html>
